.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #2f363d;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}

h1, h2, h3, h4{
  color: whitesmoke;
}

a{
  color: whitesmoke;
}
.myCard {
  display: flex;
  border: solid powderblue 5px;
  justify-content: center;
  border-radius: 8px;
  width: 50%;
  margin: auto;
  background-color: grey;
}

.myInfo{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.userCard{

  border: solid powderblue 5px;
  width: 30%;
  margin: 1%;
  border-radius: 8px;
  background-color: grey;
}

.userCard img{
  width: 40%;
  height: 40%;
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}